<!--The content below is only a placeholder and can be replaced.-->
<h2>Welcome 2 shintocoins</h2>
<div class="card-deck text-center font-weight-bold mx-3">
  <div [routerLink]="['/home']" class="btn btn-light card">Home</div>
  <div [routerLink]="['/mine']" class="btn btn-light card">Mine Coins</div>
  <div [routerLink]="['/buy']" class="btn btn-light card">Buy Coins</div>
  <div [routerLink]="['/sell']" class="btn btn-light card">Sell Coins</div>
  <div [routerLink]="['/ledger']" class="btn btn-light card">Browse Ledger</div>
</div>
<router-outlet></router-outlet>
